/*Setting the color for the html document*/
:root{
  --Granite_Grey: #5F6366;
  --Cameo_Pink: #EDB5BF;
  --UCLA_Blue: #4D6D9A;
  --Simply_Posh: #86B3D1;
  --Morning_Glory: #99CED3;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  font-family: sans serif;
  background-color: var(--Simply_Posh);
}

/* styling for the menubar */
.menu-bar{
  background-color: var(--UCLA_Blue);
  height:70px;
  width:100%;
  z-index: 999;/* This gives the menubar the highest z position in the html DOM*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position:fixed; /*fixing the position in the html DOM, this with the z position gives the effect of a floating menu*/
}

/* styling for the logo */
#first{
  color: white;
  font-size: 30px;
}
#second{
  color: var(--Cameo_Pink);
  font-size: 30px;
}

.menu-bar ul{
  list-style: none;
  display: flex; /*Displaying the unorder list as a flex container*/
}

.menu-bar ul li{
  padding: 10px 30px; /*padding the x and y axis of the list elements in the nav bar*/
  position: relative; /* List elements are positioned relative to their normal positions*/
}

/*setting the color and size of the menu items*/
.menu-bar ul li a{
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 16px;
}

/*sets the color of the menu items to turguoise blue on hovering*/
.menu-bar ul li a:hover{
  color: var(--Simply_Posh);
}

/*removes the dropdown menu from viewport*/
.dropdown-menu{
  display: none;
}

/*reveals the dropdown menu when hovering over the list element 'DropMenu'*/
.menu-bar ul li:hover .dropdown-menu{
  display: block;/*Displaying menu as block items*/
  position: absolute;/*positions the dropdown menu relative to the nearest positioned ancestor, i.e. the list item 'DropMenu'*/
  left: 0;
  top: 100%;
  background-color: var(--UCLA_Blue);
}

.dropdown-menu ul{
  display: block;
  margin: 10px
}

.dropdown-menu ul li{
  width: 150px;
  padding: 10px;
}

.slider{
  position: relative;
  top: 80px;
  width: 80%;
  height: 80vh;
  margin: auto;
}
.slider .image {
  display: none;
}
.slider .image img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
}

.slider .button{
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -2.5em;
  z-index: 5;
}

.slider .button a{
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  align-items: center;
  cursor: pointer;
  color: white;
  background: rgba(0,0,0,0.8);
  font-size: 20px;
  user-select: none;
}

.slider .button .prev{
  border-radius: 0 5px 5px 0;
}

.slider .button .next{
  border-radius: 5px 0 0 5px;
}

.dots{
  text-align: center;
  position: absolute;
  bottom: 8px;
  left: 45%;
  background: rgba(0, 0 , 0, 0.8);
  padding: 5px 10px;
  height: 30px;
}

.dot{
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #bbb;
  display: inline-block;
  margin: 0 2px;
}

.dot:hover{
  background: var(--Cameo_Pink);
}

.copyright{
  background-color: var(--UCLA_Blue);
  position: absolute;
  width: 100%;
  color: white;
  line-height: 40px;
  text-align: center;
  bottom: 0;
}
